<section class="orders-show">

  <header class="page-header">
    <h1>Your Order Details</h1>
  </header>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th colspan="2">Product</th>
        <th>Price</th>
        <th>Qty Purchased</th>
      </tr>
    </thead>
    <tbody>
      <% @order.line_items.each do |item| %>
        <%= render "product_show", item: item %>
      <% end %>
    </tbody>
  </table>


  <div class="order-summary jumbotron">
    <h3>Thank you for your order!</h4>
    <h5>Total Item: 
      <%= @order.line_items.count %>
    </h5>
    <h5>Total Price: 
      <%= humanized_money_with_symbol @order.total_cents/100.00 %>
    </h5>
     <h5>Order Email: 
      <%= @order.email %>
    </h5>
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
